<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Technology</th>
      <th scope="col">Experience</th>
      <th scope="col">Job location</th>
      <th scope="col">Passed Out</th>
      <th scope="col">Expected salary</th>
      <th scope="col">Previous Company</th>
      <th scope="col">Reference</th>
      <th scope="col">Course Fees</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.Technology }}</td>
      <td>{{ data.Experience }}</td>
      <td>{{ data.Job_Location }}</td>
      <td>{{ data.Passed_out }}</td>
      <td>{{ data.expected_monthly_salary }}</td>
      <td>{{ data.Past_company }}</td>
      <td>{{ data.Reference }}</td>
      <td>{{ data.course_fees }}</td>
    </tr>
  </tbody>
</table>